body{
    background-image:url(background.jpg);
    background-size: cover;
}
    
header{
    text-align: center;
}
    
.box{
    background-color: rgba(0,0,0,.5);
    display: block;
    color: #fff;
    border: 20px;
    border-radius: 10px;
    padding: 70px;
    width: 60%;
    margin: auto ;
    position: relative;
    margin-top: 100px;
}
    
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
    
h1{
    color: #0af031;
}
    
.bottoni{
    text-align: center;
    background-color: #0af031;
    height: 25px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
    
ul{
    text-align: left;
    font-size: 25px;
    color: antiquewhite;
    padding-left: 50px;
} 

#arrow::before{
    content:"\2192"
}
    
    
.barragialla{  
    display: inline-block;
    padding: 6px;
    width: 250px;
    height: 10px;
    background-color:  #f0ec0a;
    border-radius: 10px;
}
    
.barraverde{  
    display: inline-block;
    padding: 6px;
    width: 400px;
    height: 10px;
    background-color:  #12f00a;
    border-radius: 10px;
}
    
.barrarossa{  
    display: inline-block;
    padding: 6px;
    width: 150px;
    height: 10px;
    background-color:  #f00a0a; 
    border-radius: 10px;
}
    
span{
    font-size: 25px;
    font-weight: bold;
    font-family:Arial;
}

    
